<script type="text/javascript">
  
  $(document).ready(function() {
    //$(function(){ $(".article_file_field").uniform(); });
  });
  
</script>


<%= form_for :announcement, announcement, :url => "/announcements/create", :html => {:class => "ann_form", :multipart => true} do |a| %>
	<div class="add_article">
		
		<label>Heading:</label>
		<%= a.text_field :header, :class => "announcement_heading_field", :maxlen => 60, :onkeyup => "maxlen('chars_left_header', 'announcement_heading_field');" %>
		<span class="counter heading_counter chars_left_header"></span>
		<div class="clear"></div>
		<label>Article:</label>
		<%= a.text_area :body, {:rows => 2, :cols => 20, :class => "announcement_body_field", :maxlen => 250, :onkeyup => "maxlen_without_deleting('chars_left_body', 'announcement_body_field')"}%>
		<span class="counter2 body_counter chars_left_body"></span>
		<div class="clear"></div>
		<label>Image:</label>
		<%= a.file_field :image, :class => "article_file_field" %>
		<div class="clear"></div>
		<a href="#" class="green_button" onclick="$('.ann_form').submit();">Save</a>
<% end %>
		
</div>
