<h1>Listing inactive golf clubs -> to accept , review it</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Region</th>
	<th>Status</th>
	 <th>To Do</th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= club.name %></td>
	<td><%= club.city %></td>
	<td><%= club.accepted %></td>
    <td><%= link_to 'Edit', edit_admin_golf_club_path(club.id) %></td>
  </tr>
<% end %>
</table>

<br />

