#screen {
  width:900px;
  background-image:url(/images/bg_stripes.png);
}

#screen .link_left_wrap {
  float:left;
  margin: 12px 5px 0 4px;
}

#screen .link_right_wrap {
  float:left;
  margin: 12px 4px 0 4px;
}

#slideshow {
  overflow:hidden;
  width:705px;
  float: left;
}
#slideshow ul{
  min-width:99999999px;
}

#slideshow li{
  float:left;
}