
  <div class="row" style="width:115px">
          <p>Planned stroke count</p>
        </div>
        <div class="row" style="width:115px">
          <p>Actual stroke count</p>
        </div>
        <div class="row" style="width:115px">
          <p>AVG<br>distance</p>
        </div>
        
        <div class="clear"></div>
      
      <% current_user.sticks.each do |stick|%>
      <% @stats = GameStatisticsBySticks.find(:first, :conditions => {:game_id => @game.id, :users_stick_id => stick.id})%>
      <% if @stats %>
        <div class="line">
          <div class="desc_row1">
            <p><%=stick.stick_type%></p>
          </div>
          
          <div class="row1" style="width:115px">
            <p><%=@stats.hits_p%></p>
          </div>
          <div class="row1" style="width:115px">
            <p><%=@stats.hits_r%></p>
          </div>
          <div class="row1" style="width:115px">
            <p><%=@stats.avg_distance%></p>
          </div>
        </div>
        <%end%>
        <%end%>

