
<div class="row" style="width:115px">
  <p>Planned stroke count</p>
</div>
<div class="row" style="width:115px">
  <p>Actual stroke count</p>
</div>
<div class="row" style="width:115px">
  <p>AVG<br />distance</p>
</div>

<div class="clear"></div>




<% UsersStick.where(:user_id => current_user.id).each do |c_user_stick|%>
  <% @stats = GameStatisticsBySticks.find(:first, :conditions => {:game_id => @game.id, :users_stick_id => c_user_stick.id})%>
  <% if @stats %>
    <div class="line">
      <div class="desc_row1">
        <p><%=  c_user_stick.stick.stick_type%></p>
      </div>

      <div class="row1" style="width:115px">
        <p><%=@stats.hits_p%></p>
      </div>
      <div class="row1" style="width:115px">
        <p><%=@stats.hits_r%></p>
      </div>
      <div class="row1" style="width:115px">
        <p><%=@stats.avg_distance%></p>
      </div>
    </div>
  <%end%>
<%end%>