<div class="side_ad_wrap" style="margin:10px">
	<p><a href="/side_ad/new" data-remote="true" class="green_button"> New ad </a></p>

	<h1> List of advertisements </h1>
	<div class="adlist">
		<% side_ads.each do |ad| %>
			<p><%=ad.header%> | <%= link_to "Delete", "/side_ad/#{ad.id}", :confirm => 'Are you sure you want to delete this ad?', :method => 'delete', :remote => true %> | <%= link_to "Edit", edit_side_ad_path(ad.id), :remote => true %> </p>
		<% end %>
	</div>

</div>
