<h2>Admin Panel</h2>
<br /><br />

<hr /><br/>

<div class="admin_main_page">
  <p>For page to work properly, there are several roles:</p>

  <ul>
    <li>"Putter" must be first stick</li>
    <li>There must be atleast one country</li>
  </ul>

</div>
