html {
    background: white;
    font-family: Tahoma, Geneva, sans-serif;
}

a {
  
}

a:hover {
  background: #333333;
}

#page {
    background-color: #f5f5f5;
    min-height: 1000px;
    width: 1200px;
    margin: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #7acaf8;
    padding-bottom: 10px;
}

#header {
    height: 30px;
}

.user {
    float: right;
	margin-right: 10px;
	margin-top: 10px;
}

#content {
	margin: 10px 30px 30px 30px;
}

#footer {
}

input {
    border: none;
    font-family: Tahoma, Geneva, sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #f5f5f5;
    outline: none;
}

textarea {
    border: none;
    font-family: Tahoma, Geneva, sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #f5f5f5;
    outline: none;
    height: 60px;
}

h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

#top {
    margin-left: 1110px;
    margin-top: 15px;
}

.input {
    border: 1px solid #7acaf8;
    width: 170px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    outline: 0;
    margin-top: 10px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
}

form .newsform {
    margin: auto;
}

form .newsform input[type = text] {
    height: 20px;
}

form .newsform textarea {
    height: 50px;
}

.actions input {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    outline: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    cursor: hand;
}

.actions input:hover {
}

.button span {
    display: block;
    padding-top: 3px;
    font-size: 14px;
    font-weight: normal;
}

/********************MENU*************************/
#menu {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 0 0 10px;
    list-style-type: none;
    font-size: 13px;
    background: #7acaf8;
    height: 40px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li {
    float: left;
    margin: 0;
    list-style-type: none;
}

#menu li a {
    text-decoration: none;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #fff;
}

#menu li a:hover, #menu li.active a {
    background-color: #e5e5f5;
    /*background-color: #f5f5f5;*/
    color: #000;
}

#loginform {
    margin: 100px;
    padding: 5px;
    width: 300px;
    height: 180px;
    background-color: #f5f5f5;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 3px solid #7acaf8;
}

.status {
    margin: 5px 0 5px 90px;
    font-size: 14px;
}

.max_length_notification {
  border: 2px solid red;
}
