.game_input_wrap {
	width:656px;
	float:left;
}

.game_input_wrap p {
	font-size:16px;
	color:#898989;
}

.game_input_image_wrap {
	float:right;
	margin-left:16px;
	margin-top:15px;
	width:228px;
}

.game_input_wrap .tabs_wrap {
	margin-top:10px;
	margin-bottom:10px;
}

.game_input_wrap .tabs_wrap .tab {
	margin-left:20px;
	float:left;
}

.game_input_wrap .holes_wrap {
	width:656px;
	height:47px;
	background-image:url(img/bg_stripes.png);
}

.game_input_wrap .holes_wrap .heading_wrap {
	margin-left:20px;
	margin-right:20px;
	margin-top:15px;
	float:left;
	line-height:47px;
}

.game_input_wrap .holes_wrap .single_hole {
	margin-left:8px;
	float:left;
	text-align:center;
	margin-top:12px;
}

.game_input_wrap .holes_wrap .single_hole p {
	font-size:14px;
	color:#ffffff;
	width:23px;
	height:22px;
	line-height:22px;
}

.game_input_wrap .holes_wrap .done {
	background-image:url(img/circle_done.png);
}

.game_input_wrap .holes_wrap .active {
	background-image:url(img/circle_active.png);
}

.game_input_wrap .holes_wrap .empty {
	background-image:url(img/circle_empty.png);
}


.game_input_wrap .results_input_wrap {
	width:656px;
	margin-top:10px;
	background-image:url(img/bg_stripes.png);
}

.game_input_wrap .results_input_wrap .left_coll {
	width:183px;
	float:left;
	text-align:center;
	/*background-color:#f1f1f1;*/
}

.game_input_wrap .results_input_wrap .left_coll p {
	text-align:center;
	padding:10px;
}


.game_input_wrap .results_input_wrap .right_coll p {
	float:left;
	line-height:26px;
}

.game_input_wrap .results_input_wrap .right_coll {
	min-height:162px;
	width:472px;
	float:left;
	text-align:center;
	background-image:url(img/bg_stripes.png);
}

.game_input_wrap .results_input_wrap .right_coll .headings {
	margin-left:39px;
	margin-top:10px;
}

.game_input_wrap .results_input_wrap .right_coll .heading {
	float:left;
	margin-left:90px;
}

.game_input_wrap .results_input_wrap .right_coll .heading1 {
	float:left;
	margin-left:95px;
}

.game_input_wrap .results_input_wrap .right_coll .heading2 {
	float:left;
	margin-left:54px;
}

.game_input_wrap .results_input_wrap .right_coll .dropdowns_wrap {
	margin-left:16px;
	margin-top:18px;
}

.game_input_wrap .results_input_wrap .right_coll .dropdowns_wrap .element {
	float:left;
	margin-right:15px;
	margin-left:5px;
}

.game_input_wrap .results_input_wrap .right_coll .dropdowns_wrap input {
	border:1px solid #c3c3c3;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	height:24px;
	width:110px;
	font-family:"Trebuchet MS";
	color:#898989;
	font-weight:bold;
	padding-left:10px;
}

.game_input_wrap .results_input_wrap .right_coll .button_wrap {
	float:right;
	margin-right:50px;
	margin-top:15px;
	margin-bottom:15px;
}

.game_input_wrap .plan_input_wrap {
	width:656px;
	float:left;
}

.game_input_wrap .plan_input_wrap .input_wrap {
	width:656px;
	height:60px;
	background-image:url(img/bg_stripes.png);
	margin-top:6px;
}

.game_input_wrap .plan_input_wrap .input_wrap .stroke_switcher {
	text-align:center;
	float:left;
	margin-left:19px;
	margin-right:20px;
	margin-top:5px;
	width:92px;
}

.game_input_wrap .plan_input_wrap .input_wrap .stroke_switcher .switch {
	margin-top:5px;
}

.game_input_wrap .plan_input_wrap .input_wrap .stroke_switcher .switch a {
	float:left;
}

.game_input_wrap .plan_input_wrap .input_wrap .stroke_switcher .switch p {
	float:left;
	font-size:26px;
	color:#363636;
	line-height:24px;
	margin-left:10px;
	margin-right:10px;
}

.game_input_wrap .plan_input_wrap .input_wrap .single_dropdown {
	float:left;
	margin-right:20px;
	width:81px;
	height:52px;
	margin-top:5px;
	text-align:center;
}

.game_input_wrap .plan_input_wrap .input_wrap .larger {
	width:100px;
	margin-left:20px;
}

.game_input_wrap .plan_input_wrap .input_wrap .single_dropdown .element {
	margin-top:5px;
}

.game_input_wrap .plan_input_wrap .input_wrap .single_dropdown .element input {
	border:1px solid #c3c3c3;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	height:24px;
	width:71px;
	font-family:"Trebuchet MS";
	color:#898989;
	font-weight:bold;
	padding-left:10px;
}

.game_input_wrap .plan_input_wrap .input_wrap .heading_plan {
	width:131px;
	float:left;
	text-align:center;
}

.game_input_wrap .plan_input_wrap .input_wrap .heading_result {
	width:131px;
	float:left;
	text-align:center;
}

.game_input_wrap .plan_input_wrap .input_wrap .heading_plan p {
	margin-top:27px;
	font-size:19px;
}

.game_input_wrap .plan_input_wrap .input_wrap .heading_result p {
	margin-top:16px;
	font-size:19px;
}

.game_input_wrap .plan_input_wrap .input_wrap .radio_button_wrap {
	width:255px;
	float:left;
	margin-right:5px;
	margin-left:20px;
	margin-top:10px;
}

.game_input_wrap .plan_input_wrap .input_wrap .radio_button_wrap .heading p {
	font-size:19px;
}

.game_input_wrap .plan_input_wrap .input_wrap .radio_button_wrap .buttons {
	width:125px;
	float:left;
	margin-top:10px;
}

.game_input_wrap .plan_input_wrap .input_wrap .radio_button_wrap .buttons form {
	font-size:16px;
	color:#898989;
	line-height:18px;
	margin-top:5px;
	font-family:"Trebuchet MS";
	font-weight:bold;
}

.game_input_wrap .plan_input_wrap .input_wrap .textarea_wrap {
	margin-top:10px;
	float:left;
	margin-left:20px;
}

.game_input_wrap .plan_input_wrap .input_wrap .textarea_wrap p {
	font-size:19px;
}

.game_input_wrap .plan_input_wrap .input_wrap .textarea_wrap textarea {
	margin-top:10px;
	border:1px solid #c3c3c3;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	height:100px;
	width:323px;
	font-family:"Trebuchet MS";
	color:#898989;
	font-weight:bold;
	padding-left:10px;
	outline:none;
}