.printable_wrap {
	width:630px;
	
}

.printable_wrap .table_empty {
	width:291px;
	border-right:1px solid black;
	height:1030px;
	margin-right:10px;
	float:left;
}

.printable_wrap .table_empty .row1 {
	width:30px;
	height:1030px;
	background-image:url(img/table2.png);
	float:left;
	border-left:1px solid black;
	border-top:1px solid black;
	text-align:center;
}

.printable_wrap .table_empty .row1 p {
	font-size:12px;
	font-family:"Tahoma";
	position:relative;
	bottom:13px;
	
}