<%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "competition"} %>


<%#= render :partial => 'statistic/mini_statistic_top' %>
<h1 class="competition"> Competition </h1>
<%= render :partial => 'single_field_statistic/fields_row_total'%>
