<%= render :partial => 'share/header_menu', :locals => {:header_menu_active_class => "competition"} %>


<%#= render :partial => 'statistic/mini_statistic_top' %>
<div class="games_menu_links"> <a href="/competition/<%=@user_params.id%>" class="green_button"> Competition </a> </div>
<%= render :partial => 'single_field_statistic/fields_row_total'%>
