<div class="stroke_switcher">
<p>Sitiens</p>
<div class="gif_placeholder">
<% if active_hit != 1 %>
<div class="switch">
<a href="#" rel="prev" class="hit_switch" > <img src="/images/link_left_big.png" alt=""/></a>

<p><%=active_hit%></p>

<a href="#" rel="next" class="hit_switch" class="switch"> <img src="/images/link_right_big.png" alt=""/></a>
</div>
<% else %>
<div class="switch">
<p><%=active_hit%></p>

<a href="#" rel="next" class="hit_switch" class="switch"> <img src="/images/link_right_big.png" alt=""/></a>
</div>
<% end %>
</div>
</div>
