<% if active_hit != 1 %>
<a href="#" rel="prev" class="hit_switch"> < </a>

<%=active_hit%>
<a href="#" rel="next" class="hit_switch"> > </a>
<% else %>
<%=active_hit%>
<a href="#" rel="next" class="hit_switch"> > </a>
<% end %>
