<div id="hit_slider">
<%= render :partial => 'games/hit_slide_tab', :locals => {:active_hit => 1, :form_id => 'p_form', :game_id => @game.id, :active_hole => @active_hole, :hit_type => 'p'}%>
</div>
<div id="form" class="1">
  
  <%= render :partial => 'games/p_form', :locals => {:active_hit => 1, :game => @game, :hole => @active_hole, :hit => @hit, :hit_type => 'p'}%>
</div>
