 <div class="single_element start_place_colors">
          <div class="text">
            <p>Start place</p>
          </div>
					<%= select_tag "game[start_place_colors]", options_from_collection_for_select(hit_places, "id", "name"), :class => "dropdown3"%>
        </div>
