<%= render :partial => 'share/header_menu' %>
<br />
  <div id="holes_tab">
     <%=render :partial => 'games/hole_tab_start', :locals => {:active_hole => @active_hole, :form_id => 'm', :game_id => @game.id}%>
   </div>
<br />
<div id= "hits_tab">
 <%=render :partial => 'games/m', :locals => {:game => @game, :active_hole => @active_hole} %>

</div>

