<% if current_user %>
  <%= render :partial => 'share/header_menu' %>
  <% else %>
<% end %>
<br /><br />
<h1>New game</h1>

<%= render 'form_' + @form_type.to_s %>

<%= link_to 'Back', games_path %>
