<h1>Listing Countries</h1>

<table>
  <tr>
    <th>Text</th>
	
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%= country.name %></td>
   
  </tr>
<% end %>
</table>

<%= link_to 'New Country', new_admin_country_path %>

<br />





