<h1>Listing Hints</h1>
<br/>


<% @all_admins.each do |c_admin| %>

  <div class="admin_list_admins">
    <div class="item"><%= c_admin.first_name %></div> <div class="item"><%= c_admin.first_name %></div> 
  </div>


<% end %>


