<h1>Listing Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
	 <th>Email</th>
	 <th>To Do</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td><%= user.email %></td>
	<td>
	<%= if user.is_blocked 
        link_to 'Allow', edit_admin_user_path(user.id) 
   	else 
       link_to 'Block', edit_admin_user_path(user.id) 
    end 
	%>
	</td>
   
	 
  </tr>
<% end %>
</table>

<br />





