 <a onclick="<% hole_number = hole_number %><%="$('#holes').append(#{render(:partial => '/fields/new_hole', :locals => {:f => f, :hole_attributes_name => hole_attributes_name, :hole_number => hole_number}).to_json})"%>" href="#" class="green_button" >+ Add another</a>
 
