<div class="profile_info_input" style="padding-bottom:30px">
    <h1>Laukumi</h1>
<div class="fields_wrap">

 <%= select_tag( "fields", options_from_collection_for_select(fields, "id", "name"), {:onchange => "changeLink(this.value)", :class => "dropdown3"}) %>

            <a href="#" class="green_button link edit_field_by_id">Rediģēt</a>
            <a href="<%=new_golf_club_field_path%>" class="green_button link">Pieteikt jaunu</a>
   

<script type="text/javascript">
function changeLink(x)
{
  var z = "/edit_field_by_id/" + x;
  $('.edit_field_by_id').attr('href', z);
  return false;
  
}
</script>
<div class="clear"></div>
</div>
</div>