<div class="profile_info_input" style="padding-bottom:30px; float:left; width:350px">
  <h1>Fields</h1>
  <div class="fields_wrap">

    <% unless @golf_club.fields.count < 1 %>

      <%= select_tag( "fields", options_from_collection_for_select(fields, "id", "name"), {:onchange => "changeLink(this.value)", :class => "dropdown3"}) %>
      <% first_field = fields.first%>

      <a href="/edit_field_by_id/<%= first_field.id%>" class="green_button link edit_field_by_id">Edit</a>

    <% end %>
      
    <a href="<%=new_golf_club_field_path%>" class="green_button link">Create new field</a>


    <script type="text/javascript">
      function changeLink(x)
      {
        var z = "/edit_field_by_id/" + x;
        $('.edit_field_by_id').attr('href', z);
        return false;
  
      }
    </script>
    <div class="clear"></div>
  </div>
</div>