<%= render :partial => 'share/header_menu' %>
<div class="background_fix" style="padding:5px ">
<h1>Editing field</h1>
</div>
<%= render 'form' %>

<%#= link_to 'Show', [:golf_club, @field] %> 
<%#= link_to 'Back',  edit_golf_club_path %>
