<%= render :partial => 'share/header_menu' %>
<div class="background_fix2" >
<h1>Editing field</h1>

<%= render 'form' %>
</div>
<%#= link_to 'Show', [:golf_club, @field] %> 
<%#= link_to 'Back',  edit_golf_club_path %>
