<p id="notice"><%= notice %></p>

<p>
  <b>Golf club:</b>
  <%= @field.golf_club %>
</p>


<%= link_to 'Edit', edit_golf_club_field_path(@field) %> |
<%= link_to 'Back', edit_golf_club_path %>
