<div class="login_or_register_wrap">
  <span>You need to be signed in to access this page</span>

  <div class="login">
<%#= render :partial=> 'user_sessions/form', :locals => {:user_session => UserSession.new} %>
  </div>

  <div class="login">
    <%= link_to "Register", new_user_path, :class => "green_button" %>
    <%= link_to "Go Back", welcome_path, :class => "green_button" %>
  </div>
</div>


