<div id="table_result_wrap">

  <div class="table_wrap">

    <div class="button_filter">
      <%= link_to_function "Filter", "$('#filter_statistic_form').submit()" %>
    </div>

    <div class="filter_bar">
      <h1>Trāpījumi</h1>
      <div class="unfilled">
        <div class="filled" style="width:75%">
          <div class="percentage">
            <p>73%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="table_container">

      <div class="heading_distance">
        <h1>Distance</h1>
      </div>

      <div class="heading_plan">
        <h1>Pēc plāna</h1>
      </div>

      <div class="progress_wrap">
        <div class="overlay_wrap">
          <div class="date">
            <p>11.06.23</p>
          </div>
        </div>
        <div class="bar" style="height:20%"></div>
      </div>

      <div class="progress_wrap">
        <div class="overlay_wrap">
          <div class="date">
            <p>11.06.23</p>
          </div>
        </div>
        <div class="bar" style="height:22%"></div>
      </div>

      <div class="progress_wrap">
        <div class="overlay_wrap">
          <div class="date">
            <p>11.06.23</p>
          </div>
        </div>
        <div class="bar" style="height:21%"></div>
      </div>

      <div class="progress_wrap">
        <div class="overlay_wrap">
          <div class="date">
            <p>11.06.23</p>
          </div>
        </div>
        <div class="bar" style="height:50%"></div>
      </div>

      <div class="progress_wrap">
        <div class="overlay_wrap">
          <div class="date">
            <p>11.06.23</p>
          </div>
        </div>
        <div class="bar" style="height:60%"></div>
      </div>

      <div class="progress_wrap">
        <div class="overlay_wrap">
          <div class="date">
            <p>11.06.23</p>
          </div>
        </div>
        <div class="bar" style="height:70%"></div>
      </div>

      <div class="progress_wrap">
        <div class="overlay_wrap">
          <div class="date">
            <p>11.06.23</p>
          </div>
        </div>
        <div class="bar" style="height:73%"></div>
      </div>

      <div class="progress_wrap">
        <div class="overlay_wrap">
          <div class="date">
            <p>11.06.23</p>
          </div>
        </div>
        <div class="bar" style="height:86%"></div>
      </div>

      <div class="clear"></div>
      <div class="clearblock"></div>

      <div class="progress_wrap">
        <div class="bar" style="height:22%"></div>
      </div>

      <div class="progress_wrap">
        <div class="bar" style="height:21%"></div>
      </div>

      <div class="progress_wrap">
        <div class="bar" style="height:50%"></div>
      </div>

      <div class="progress_wrap">
        <div class="bar" style="height:60%"></div>
      </div>

      <div class="progress_wrap">
        <div class="bar" style="height:70%"></div>
      </div>

      <div class="progress_wrap">
        <div class="bar" style="height:73%"></div>
      </div>

      <div class="progress_wrap">
        <div class="bar" style="height:12%"></div>
      </div>

      <div class="progress_wrap">
        <div class="bar" style="height:12%"></div>
      </div>
      <div class="clear"></div>

      <div class="number_wrap"><p>24</p></div>
      <div class="number_wrap"><p>244</p></div>
      <div class="number_wrap"><p>13</p></div>
      <div class="number_wrap"><p>745</p></div>
      <div class="number_wrap"><p>24</p></div>
      <div class="number_wrap"><p>478</p></div>
      <div class="number_wrap"><p>93</p></div>
      <div class="number_wrap"><p>24</p></div>

    </div>

  </div>
</div>


<div class="info_wrap">
  <div class="strokes">
    <h1>Sitieni:</h1>
    <p>1432 x</p>
  </div>
  <div class="strokes">
    <h1>Vidējā distance:</h1>
    <p>130 m</p>
  </div>
  <div class="clear"></div>
  <img src="/images/tip_icon_big.png" alt=""/>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
</div>