<div id="table_result_wrap">



    <div class="table_wrap">


      <div class="button_filter">
        <%= link_to_function "Filter", "$('#filter_statistic_form').submit()" %>
      </div>

      <% if @result %>
        <div class="filter_bar">
          <h1>Trāpījumi</h1>
          <div class="unfilled">
            <div class="<%= swap_bar_color(result) %>" style="width:<%= result %>%">
              <div class="percentage">
                <p><%= @result %> %</p>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
    
        <% else %>
          <div class="filter_bar">
            <h1>There are no statistics for selected filter</h1>
          </div>
        <% end %>
      </div>
    </div>



</div>
