
<div id="table_result_wrap">

  <div class="table_wrap">


    <div class="button_filter">
      <%= link_to_function "Filter", "$('#filter_statistic_form').submit()" %>
    </div>



  </div>
</div>

