<div class="button_filter">
  <%= link_to_function "Filter", "$('#filter_statistic_form').submit()" %>
</div>

<div class="filter_bar">
  <h1>Trāpījumi</h1>
  <div class="unfilled">
    <div class="filled" style="width:75%">
      <div class="percentage">
        <p>73%</p>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="table_container">

  <div class="heading_distance">
    <h1>Distance</h1>
  </div>

  <div class="heading_plan">
    <h1>Pēc plāna</h1>
  </div>

  <div class="progress_wrap">
    <div class="overlay_wrap">
      <div class="date">
        <p>11.06.23</p>
      </div>
    </div>
    <div class="bar" style="height:20%"></div>
  </div>

  <div class="progress_wrap">
    <div class="overlay_wrap">
      <div class="date">
        <p>11.06.23</p>
      </div>
    </div>
    <div class="bar" style="height:22%"></div>
  </div>

  <div class="progress_wrap">
    <div class="overlay_wrap">
      <div class="date">
        <p>11.06.23</p>
      </div>
    </div>
    <div class="bar" style="height:21%"></div>
  </div>

  <div class="progress_wrap">
    <div class="overlay_wrap">
      <div class="date">
        <p>11.06.23</p>
      </div>
    </div>
    <div class="bar" style="height:50%"></div>
  </div>

  <div class="progress_wrap">
    <div class="overlay_wrap">
      <div class="date">
        <p>11.06.23</p>
      </div>
    </div>
    <div class="bar" style="height:60%"></div>
  </div>

  <div class="progress_wrap">
    <div class="overlay_wrap">
      <div class="date">
        <p>11.06.23</p>
      </div>
    </div>
    <div class="bar" style="height:70%"></div>
  </div>

  <div class="progress_wrap">
    <div class="overlay_wrap">
      <div class="date">
        <p>11.06.23</p>
      </div>
    </div>
    <div class="bar" style="height:73%"></div>
  </div>

  <div class="progress_wrap">
    <div class="overlay_wrap">
      <div class="date">
        <p>11.06.23</p>
      </div>
    </div>
    <div class="bar" style="height:86%"></div>
  </div>

  <div class="clear"></div>
  <div class="clearblock"></div>

  <div class="progress_wrap">
    <div class="bar" style="height:22%"></div>
  </div>

  <div class="progress_wrap">
    <div class="bar" style="height:21%"></div>
  </div>

  <div class="progress_wrap">
    <div class="bar" style="height:50%"></div>
  </div>

  <div class="progress_wrap">
    <div class="bar" style="height:60%"></div>
  </div>

  <div class="progress_wrap">
    <div class="bar" style="height:70%"></div>
  </div>

  <div class="progress_wrap">
    <div class="bar" style="height:73%"></div>
  </div>

  <div class="progress_wrap">
    <div class="bar" style="height:12%"></div>
  </div>

  <div class="progress_wrap">
    <div class="bar" style="height:12%"></div>
  </div>
  <div class="clear"></div>

  <div class="number_wrap"><p>24</p></div>
  <div class="number_wrap"><p>244</p></div>
  <div class="number_wrap"><p>13</p></div>
  <div class="number_wrap"><p>745</p></div>
  <div class="number_wrap"><p>24</p></div>
  <div class="number_wrap"><p>478</p></div>
  <div class="number_wrap"><p>93</p></div>
  <div class="number_wrap"><p>24</p></div>

</div>

