
<div class="lists">
  <p>1. Edgars Upītis<br />2. Jānis Kļava<br />3. Artūrs Pakalns</p>
</div>
<div class="lists">
  <p>4. Kārlis Padegs<br />5. Vilhelms Purvītis<br />6. Jāzeps Vītols</p>
</div>
<div class="lists">
  <p>7. Viktors Ņičivosebejs<br />8. Edgars Upītis<br />9. Edgars Upītis</p>
</div>