<a href="javascript:this.location.reload();" style="color: #000000; display: block; border: solid 1px black; width: 100px; height: 100px; font-weight: normal">click to refresh</a>
<br /><br /><br /><br />
